html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ------------ */
/* header */
.nav {
    background-color: #838fd1;
    text-align: center;
}

nav > ul {
    font-size: 0;
}

ul > li {
    display: inline-block;
    font-size: 30px;
    margin: 20px;
}

.submenu {
    background: white;
    border: 2px solid #003559;
    position: absolute;
    top: 30px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    width: 150px;
    transition: 0.6s ease-in-out;
    display: inline-block;
}

.about-us {
    position: relative;
}
.about-us:hover .submenu {
    opacity: 1;
    visibility: visible;
}

.homework {
    position: relative;
}

.submenu2 {
    background: white;
    border: 2px solid #003559;
    position: absolute;
    display: inline-block;
    left: 200px;
    top: 30px;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    width: 200px;
    padding: 25 0 0 0;
    transition: 2s cubic-bezier(0, 1.49, 1, 1.3);
}

.homework:hover .submenu2 {
    opacity: 1;
    left: 0;
    visibility: visible;
}

figure1 {
    position: relative;
}

.figure1:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 5px solid gray;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    bottom: 20px;
}

.figure1::after {
    content: ' ';
    display: inline-block;
    width: 20px;
    height: 5px;
    position: absolute;
    background: gray;
    left: 25px;
    bottom: 19px;
    transform: rotate(40deg);
}

.figure2 {
    position: relative;
}

.figure2:before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-left: 5px solid gray;
    border-bottom: 5px solid transparent;
    background-color: transparent;
    transform: rotate(5deg);
    top: 0;
    left: -40px;
}
.figure2::after {
    content: '';
    display: inline-block;
    position: absolute;
    transform: rotate(180deg);
    border-top: 10px solid gray;
    border-left: 10px solid gray;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -45px;
    bottom: -10px;
}

/* header */
/* main */

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

main {
    padding-top: 20px;
}

.parent-1 {
    background-color: #14f0a3;
    min-height: 100px;
}

.parent-2 {
    background-color: #1ddf74;
    min-height: 100px;
}

.parent-3 {
    background-color: #06e8ca;
    min-height: 100px;
}

.parent-4 {
    background-color: #0fd0a6;
    min-height: 100px;
}

.inline-block {
    display: inline-block;
}

.width-30 {
    width: 33%;
}

.width-60 {
    width: 66%;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

.font-size-0 {
    font-size: 0;
}

.font-size {
    font-size: 20px;
}

.float-left {
    float: left;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/* flex */

.flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.wrapper {
    flex-wrap: wrap;
}

.middle {
    vertical-align: middle;
}
/* flex */
/* main */
/* footer */

footer {
    margin: 30px 0px;
}

footer a {
    transition: 1s ease 0.5s;
}

footer > ul {
    font-size: 0;
}

footer > ul > li {
    display: inline-block;
    margin: 0;
}

footer a {
    display: block;
    width: 127px;
    height: 127px;
    background-image: url(../img/sprites3.png);
}

footer li > a {
    background-position: 0 0px;
}
footer li + li > a {
    background-position: -127px 0px;
}
footer li + li + li > a {
    background-position: -254px -0px;
}
footer li + li + li + li > a {
    background-position: 0px -255px;
}
footer li + li + li + li + li > a {
    background-position: -127px -255px;
}
footer li + li + li + li + li + li > a {
    background-position: -254px -255px;
}

footer li > a:hover {
    background-position: 0 -127.5px;
}
footer li + li > a:hover {
    background-position: -127px -127.5px;
}

footer li + li + li > a:hover {
    background-position: -254px -127.5px;
}

footer li + li + li + li > a:hover {
    background-position: 0px -382.5px;
}

footer li + li + li + li + li > a:hover {
    background-position: -127px -382.5px;
}

footer li + li + li + li + li + li > a:hover {
    background-position: -254px -382.5px;
}
/* footer */

/* gradient */
.wrapper-gradient {
    margin: 30px auto;
    max-width: 1200px;
    background: #838fd130;
}

.wrapper-gradient > div {
    width: 300px;
    margin: 20px auto;
    min-height: 300px;
}

.gradient-1 {
    background: repeating-linear-gradient(
        45deg,
        #06e8ca 5px,
        #0fd0a6 20px,
        #14f0a3 30px,
        #56edde 40px,
        #2bd9df 50px,
        #06e8ca 55px
    );
}

.gradient-2 {
    background: radial-gradient(
        circle farthest-corner at 100px 200px,
        #e4c4dc,
        #caa9e4,
        #a3a8e9
    );
}
/* gradient */

/* figures */

.container-figures {
    display: flex;
    max-width: 100%;
    margin: 30px;
    background-color: #e4c4dc30;
    flex-flow: column wrap;
    align-items: center;
}

.container-figures > div {
    margin: 20px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #0fd0a6;
}

.oval {
    width: 200px;
    height: 100px;
    border-radius: 50%;
    background-color: #0fd0a6;
}

.tringle {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid #0fd0a6;
}

.tringle2 {
    border-top: 40px solid #0fd0a6;
    border-left: 40px solid #0fd0a6;
    border-right: 40px solid transparent;
    border-bottom: 40px solid transparent;
}

.arrow {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-left: 10px solid #0fd0a6;
    border-bottom: 10px solid transparent;
    background-color: transparent;
    transform: rotate(5deg);
    position: relative;
}
.arrow::before {
    content: '';
    display: inline-block;
    position: absolute;
    transform: rotate(180deg);
    border-top: 20px solid #0fd0a6;
    border-left: 20px solid #0fd0a6;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    left: -10px;
    bottom: -7px;
}
